.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./KumbhSans-VariableFont_YOPQ\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.app {
    display: flex;
    max-width: 920px;
    border-radius: 23px;
    background: #FFF;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.50);
    position: relative;
}

.app .box{
    top: 50%;
    transform: translate(-50%, -25%);
    position: absolute;
}

.left, .right{
    width: 50%;
    padding: 65px 0;
}

.left{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-position: 112% 75%;
    background-repeat: no-repeat;
}

.left .illustration{
    width: 100%;
    margin-left: -15%;
}

.left .illustration-mobile{
    display: none;
}

.right{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    color: #1E1F36;
    font-family: Kumbh Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.accordion {
    border-bottom: 1px solid #E8E8EA;
    max-width: 350px;
}

.accordion .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion .btn span{
    padding: 20px 0;
    padding-right: 16px;
    color: #4B4C5F;
    font-family: Kumbh Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accordion .btn:hover span{
    color: #F47B56;
    cursor: pointer;
}

.accordion .btn img{
    transition: all .3s;
}

.accordion.active .btn img{
    transform: rotate(180deg);
}

.accordion .content {
    color: #787887;
    font-family: Kumbh Sans;
    font-size: 12px;
    padding-bottom: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    max-height: 0;
    transition: all .3s;
    overflow: hidden;
}

.accordion.active .content{
    max-height: 400px;
    padding-bottom: 16px;
}

@media (max-width: 376px) {
    body{
        display: block;
    }

    .app{
        flex-direction: column;
        margin: 24px;
        margin-top: 150px;
    }

    .app .box{
        display: none;
    }

    .left, .right{
        width: 100%;
    }

    .left{
        background-image: none;
        padding: 0;
        overflow: visible;
        transform: translateY(-60%);
    }

    .left .illustration{
        display: none;
    }

    .left .illustration-mobile{
        display: block;
        width: 80%;
        margin: auto;
        
    }
}